/* ABOUT SECTION
========================= */

section.about {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 1.12rem;
    text-align: center;
    
    p {
        margin: 1.5rem auto 0;
    }
    
    img {
        display: block;
        max-width: 100px;
        margin: 0 auto;
        border-radius: 100%;
    }
    
    a.pure-button {
        margin: 2rem auto 0;
    }
}