/* ABOUT SECTION
========================= */

section.about {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 1.12rem;
    text-align: center;
    
    html.ie8 & {
        top: -56px;
    }
    
    p {
        margin: 1.5rem auto 0;
        
        html.ie8 & {
            margin: 0 auto;
        }
    }
    
    img {
        display: block;
        max-width: 100px;
        margin: 0 auto;
        border-radius: 100%;
        
        html.ie8 & {
            display: none;
        }
    }
    
    a.pure-button {
        margin: 2rem auto 0;
        
        span {
            margin-right: 3px;
        }
        
        html.ie8 & {
            margin: 32px auto 0;
        }
    }
}