/* INTRO SECTION
========================= */

section.intro {
    height: 100vh;
    margin: 0 auto;
    background: url("../img/intro_bg_sm.jpg") no-repeat 85%;
    background-size: cover;
    color: #F5F5F5;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    
    html.ie8 & {
        height: 600px;
        background: url("../img/intro_bg_lg.jpg") no-repeat top;
    }
    
    @media screen and (min-width: 35.5em) {
        background-image: url("../img/intro_bg_md.jpg");
    }
    
    @media screen and (min-width: 64em) {
        background-image: url("../img/intro_bg_lg.jpg");
        background-position: 100% 0;
    }
    
    div {
        position: absolute;
        top: 25%;
        width: 100%;
        padding: 0 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        
        html.ie8 & {
            padding: 0 16px;
            background-color: #000;
        }
    }
    
    h1 {
        font-size: 1.7rem;
        font-weight: 300;
    }
    
    p {
        font-size: 1.2rem;
    }   
}