.remodal {
    h3 {
        font-family: "Source Sans Pro";
        font-size: 1.7rem;
        font-weight: 300;
    }
    
    p {
        text-align: left;
    }
    
    p,
    a {
        font-family: "Open Sans", Verdana, sans-serif;
        font-size: 1.12rem;
    }
}