.remodal {
    
    color: #222;
    background-color: #F5F5F5;
    
    h3 {
        font-family: "Source Sans Pro", Arial, sans-serif;
        font-size: 1.7rem;
        font-weight: 300;
    }
    
    h4 {
        font-family: "Open Sans", Verdana, sans-serif;
        font-size: 1.24rem;
        font-weight: 400;
        text-align: left;
    }
    
    img {
        margin: 0 auto;
    }
    
    p,
    a.pure-button {
        font-family: "Open Sans", Verdana, sans-serif;
        font-size: 1.12rem;
    }
    
    p {
        text-align: left;
    }
    
    a.pure-button + a.pure-button {
        margin-top: 1rem;
        
        @media screen and (min-width: 427px) {
            margin-top: 0;
        }
    }
}