.remodal {
    h3 {
        font-family: "Source Sans Pro";
        font-size: 1.7rem;
        font-weight: 300;
    }
    
    p {
        text-align: left;
        
        a {
            border-bottom: 1px dotted;
        }
    }
    
    p,
    a.pure-button {
        font-family: "Open Sans", Verdana, sans-serif;
        font-size: 1.12rem;
    }
    
    a.pure-button + a.pure-button {
        margin-top: 1rem;
    }
}