/* GLOBAL STYLES
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

abbr[title] {
    border-bottom: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* FONTS
========================= */

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?59198101');
    src: url('../fonts/fontello.eot?59198101#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?59198101') format('woff'),
         url('../fonts/fontello.ttf?59198101') format('truetype'),
         url('../fonts/fontello.svg?59198101#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
.icon-pdf:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-github:before { content: '\e802'; }
.icon-linkedin:before { content: '\e803'; }
.icon-magnifying-glass:before { content: '\e804'; }

/* STYLES
========================= */

body {
    background-image: url(../img/main_bg.png);
    /*  Background image is from Subtle Patterns - http://www.subtlepatterns.com/ */
}

@import 'header.scss';

section {
    position: relative;
    
    &:not(.intro) {
        max-width: 90%;
        margin: 0 auto;
        padding: 6.5rem 0;
    }
    
    &:last-of-type {
        padding-bottom: 0;
    }
}

h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    color: #222;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    
    &::after {
        /* Underline Effect */
        content: '';
        position: relative;
        top: 10px;
        display: block;
        height: 1px;
        width: 600px;
        margin: 0 auto;
        background-color: #222;
    }
}

p.paragraph {
    max-width: 600px;
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 1.12rem;
    color: #222;
    line-height: 1.5;
    text-align: left;
}

@import 'intro.scss';
@import 'projects.scss';
@import 'about.scss';
@import 'contact.scss';
@import 'footer.scss';  